<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <strong>通知</strong>
      </div>
      <div class="panel-body">
        <ul class="media-list">
          <% if @index_options[:with_group_members] %>
            <%= render_notification @notifications, fallback: :default_without_grouping, with_group_members: true %>
          <% else %>
            <%= render_notification @notifications, fallback: :default %>
            <%#= render_notification @notifications, fallback: :text %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
